In [74]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [76]:
qry = """  
SELECT * FROM financing
"""

#qry = asql.question_3()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

,CustomerID,Income,LoanAmount,LoanTerm,InterestRate,ApprovalStatus,CreditScore
0,1,89097.0,10077.0,48,4.88,Rejected,683
1,2,62719.0,22944.0,36,4.58,Rejected,729
2,3,45999.0,27501.0,48,7.89,Approved,756
3,4,48926.0,15511.0,48,6.22,Rejected,669
4,5,80778.0,15090.0,24,4.39,Approved,659
...,...,...,...,...,...,...,...
1093,545,75507.0,15999.0,36,8.27,Rejected,793
1094,677,51914.0,14426.0,24,4.98,Approved,656
1095,875,73459.0,28091.0,12,5.55,Rejected,652
1096,981,52830.0,12009.0,36,5.50,Rejected,704
1097,993,72236.0,14592.0,36,6.19,Approved,795

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [73]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)