In [101]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [102]:
qry = """  
SELECT * FROM customers
"""

qry = asql.question_7()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

      CustomerID  Age  CorrectedAge  Gender  AgeCategory  Rank
0            995   41            33  Female        Adult     1
1            334   39            38  Female        Adult     2
2            464   34            56    Male        Adult     2
3            725   21            35    Male        Adult     2
4            955   22            34    Male        Adult     2
...          ...  ...           ...     ...          ...   ...
1009         886   30            27    Male  Young Adult    11
1010         921   66            29  Female  Young Adult    11
1011         963   55            28    Male  Young Adult    11
1012         559   67            21  Female  Young Adult    12
1013         310   56            29    Male  Young Adult    13

[1014 rows x 6 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [73]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)